div.main {
    width: 100%;
  }
  fieldset {
    width: 600px;
    margin: auto;
  }
  div.main label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
  }
  div.main output {
    background-color: #EEEEEE;
    display: inline-block;
    width: 400px;
    border: thin solid black;
  }
  #message {
    border: none;
    color: red;
    background-color: white;
  }
